body {
  background: #eee;
}

:root {
  --opacity: 10%;
}

.stars {
  display: flex;
}

.stars.disabled {
  pointer-events: none;
}

.stars a {
  opacity: var(--opacity);
  cursor: pointer;
  padding: 0px;
}

.stars:hover a {
  opacity: 100%;
}

.stars a:hover {
  opacity: 100%;
}

.stars a:hover ~ a {
  opacity: var(--opacity);
}

.stars a.active {
  opacity: 100%;
}

#rate {
  margin-bottom: 0px;
}

#canvas {
  margin-top: 10px;
}